*{
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: center;
}
.logo p {
    font-family: cursive;
    font-size: 25px;
    color: #101dd0;
    display: inline;
}
.logo img {
    height: 40px;
    width: 40px;
}
nav {
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

a {
    text-decoration: none;
    font-size: 25px;
    color: #000;
}

main {
    height: 80vh;
}
.components {
    height: 300px;
    width: 80vw;
    border-radius: 5px;
    margin: auto;
    box-shadow:3px 3px 3px 3px #938787;
    text-align: center;
    font-size: 30px;

}
footer {
    text-align: center;
    height: 40px;
    background-color: rgb(211, 198, 198);
}
footer p {
    padding-top: 15px;
}

button {
    height: 30px;
    width: 100px;
    background-color: #101dd0;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 200px;
}